.slider {
  height: 5px;
  width: 100%;
  background: #1992d4;
  border-radius: 100px;
  display: flex;
  align-items: center;
}

.slider > .handle {
  height: 28px;
  width: 28px;
  border: 5px solid #ffffff;
  background-color: #127fbf;
  box-shadow: 0 0 20px 0 rgba(142, 180, 226, 0.7);
  border-radius: 100px;
  cursor: ew-resize;
  transition: transform 0.07s;
  box-sizing: border-box;
}

.active {
  transform: scale(1.1);
}

.bar-0 {
  height: 8-x;
  background: #1992d4;
}

.bar-1 {
  height: 5px;
  background: #badff2;
}
